* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
li {
  list-style-type: none !important;
}
body {
  font-family: OpenSans;
}
h5,
h6,
h4,
h3 {
  font-weight: 600 !important;
}
.header {
  background-color: #000000;
  /* height: 75px; */
}
/* font-family: 'Raleway', sans-serif; */
/* openSans */
.header .navbar-nav li {
  padding: 10px;
}

.header .navbar-nav a {
  color: #b4b0b0;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.header .navbar-nav a:hover {
  color: #fdfdfd;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.hr-bar {
  background: #f2f3f3 !important;
  height: 4px !important;
}
.banner_bg {
  position: relative;
  background-image: url("./image/banner_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 460px;
}
.banner_bg::before {
  content: "";
  position: absolute;
  background: #00000048;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner_top h1 {
  color: #ffffff;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.banner_top span {
  color: #ee8337;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.banner_top h3 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
.banner_top .banner_bar {
  height: 2px;
  background-color: #494a4c;
  width: 70px;
}
.banner_top p {
  color: #a5a3a5;
  font-family: "Raleway", sans-serif;
}
.banner_top .btn-outline-secondary {
  font-weight: 400 !important;
  color: #ffffff !important;
}
.banner_footer {
  width: 300px;
  height: 250px;
  background: #ffffff;
  margin: auto;
}
.banner_footer h6 {
  color: #464545;
  font-weight: 600;
}
.banner_buttom {
  background: #00000021;
  height: 57px;
}
.banner_footer span {
  color: #ee8337;
}
.banner_buttom {
  padding: 20px;
}

.form-style input {
  border: none !important;
  border-bottom: 1px solid #a5a1a1 !important;
  height: 33px !important;
  border-radius: 0 !important;
}

.form-style input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid gray !important;
}
.extra-part {
  background-color: #ee8337;
  width: 300px;
  height: 40px;
  margin: auto;
}
.extra-part p {
  color: #ffffff;
  text-transform: uppercase;
}
.social_media {
  padding-bottom: 10px;
}
.media {
  border-bottom: 1px solid #c2c2c2;
}
.social_media h4 {
  text-transform: uppercase;
  color: #444343;
}
.social_media p,
.banner_top p {
  line-height: 1;
}
.social_media p {
  color: #6c6c6c;
  margin-bottom: 0;
}
.media-icon ul li {
  padding: 0 25px;
}
.media-icon ul li i {
  font-size: 30px;
  color: gray;
}
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.piller {
  width: 100px;
}
.three-col {
  margin-top: 80px;
}
.piller_one,
.piller_two,
.piller_three {
  background-color: #333333;
  width: 80px;
  height: 80px;
  border-bottom: 1px solid #ffffff;
}
.piller_three:last-child {
  border-bottom: none;
}
.piller_one:hover,
.piller_two:hover,
.piller_three:hover {
  background-color: #ff8b38;
}
.actives {
  background-color: #ff8b38;
}
.piller_one h6,
.piller_two h6,
.piller_three h6 {
  font-weight: 600;
  color: white;
  padding: 17px;
  padding-top: 27px;
  padding-left: 19px;
}
.text {
  box-sizing: border-box;
  padding: 0 60px;
  padding-left: 90px !important;
}
.text h5 {
  font-weight: 600;
}
.text p {
  text-align: justify;
  color: #86878b;
}
.text .btn {
  color: #ffffff;
  font-weight: 600;
  background-color: #ff8b38 !important;
  border: none !important;
}
.sub_list .first_sub_list img {
  width: 40px;
  height: 40px;
}
.sub_list .first_sub_list .first_title h6 {
  text-transform: uppercase;
  font-weight: 600;
  color: #212121;
}
.sub_list .first_sub_list .first_title p {
  color: #86878b;
  line-height: 1;
}
.sub_list_bar {
  width: 71px;
  height: 1px;
  background-color: #ff8b38;
}
.standard_picture_bg {
  background-color: #f5f5f5;
  border-bottom: 2px solid #cccccc;
}
.standard_picture {
  padding: 100px;
  padding-left: 0;
}
.standard_picture p {
  text-align: justify;
}
.standard_picture_img img {
  padding: 50px;
}
.awesome img {
  width: 50px;
  height: 50px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  padding: 10px;
}
.basic {
  background: #333333;
  border-bottom: 2px solid #7c7c7c;
  width: 250px;
  margin: auto;
}
.basic h5,
.professional h5 {
  color: #ffffff;
  padding: 13px 0;
}
.zero {
  background: #333333;
  width: 250px;
  height: 150px;
  border-bottom: 6px solid #ff8b38;
  margin: auto;
}
.zero span,
.ninteen span {
  color: #ffffff;
  font-size: 40px;
}
.zero h1,
.ninteen h1 {
  color: #ffffff;
  font-size: 80px;
}
.zero p,
.ninteen p {
  color: #7a7a7a;
}
.styleBasic {
  margin-top: 43px !important;
}
.styleBasic p {
  color: #86878b;
}
.professional {
  background: #333333;
  border-bottom: 2px solid #7c7c7c;
  width: 250px;
  margin: auto;
}
.ninteen {
  background: #333333;
  width: 250px;
  height: 150px;
  /* border-bottom: 6px solid #ff8b38; */
  margin: auto;
}
.extra_div {
  background: #ff8b38;
  width: 250px;
  margin: auto;
}
.extra_div p {
  color: #ffffff;
  padding: 10px 0;
}
.paragraphStyle p {
  color: #86878b;
}
.man_img {
  margin-top: 55px;
}
.man_img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.customer {
  margin-top: 75px;
}
.man_text {
  line-height: 1;
}
.main_text p,
.customer p {
  color: #86878b;
}
.customers_saying {
  margin-top: 100px;
  margin-bottom: 100px;
}
.stylish_bg {
  position: relative;
  background-image: url("./image/city.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 350px;
}
.stylish_bg::before {
  content: "";
  position: absolute;
  background: #00000048;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.axrueDesign {
  margin-top: 70px;
}
.axrueDesign h1,
.axrueDesign p {
  color: #ffffff;
}
.axrueDesign_bar {
  width: 120px;
  height: 2px;
  margin: auto;
  background: #ffffff;
}
.footer {
  background: #000000;
}
.footer_li li i {
  color: #ffffff;
  padding: 0 15px;
  padding-top: 10px;
}
.contact {
  margin: 40px 0;
}
.contact_input input{
  border: none !important;
  border-bottom: 1px solid #a5a1a1 !important;
  height: 50px !important;
  border-radius: 0 !important;
}
.contact_input textarea{
  border: none !important;
  border-bottom: 1px solid #a5a1a1 !important;
  /* height: 200px !important; */
  border-radius: 0 !important;
}
.contact_input input:focus,
.contact_input textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid gray !important;
}
.text_btn button{
  margin: auto;
  margin-top: 40px;
  color: #ffffff;
  font-weight: 600;
  background-color: #ff8b38 !important;
  border: none !important;
}
.sub_list_bar {
  margin: auto;
}
@media (max-width: 768px) {
  .banner_bg {
    height: 100%;
    padding-bottom: 45px;
  }
  .standard_picture {
    padding-left: 20px;
  }
  .standard_picture_img img {
    padding: 0px;
  }
}

@media (max-width: 576px) {
}
